ul
{
	list-style-type: none;
	padding: 3px;
}


li
{
	margin: 2px;
	padding: 5px;
}

#navbar
{
	display: flex;
  	flex-direction: row;
  	justify-content: flex-end;
  	height: 6vh;
  	align-items: center;
  	font-family: arial, sans-serif;
  	font-size: 13px;
  	padding-top: 2.5vh;
  	padding-right: 35px; 
}


/*
#leftbar {
  display: flex;
  height: 100%;
  width: 50%;
  align-items: center;
}

#rightbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 50%;
}

#pays
{
  display: flex ;
  border-top: 2px #E4E4E4 solid;
  border-bottom: 2px #E4E4E4 solid;
  height : 50%;
  padding-left: 10px;
  justify-content: center;
  flex-direction : column;
  font-family: arial, sans-serif;
  font-size: 15px;
  color: #5F6374;
}


#liens
{
	height: 50%;
}*/



footer
{
	background-color: #F2F2F2;
	font-style: #E2E2E2;
}

#pays
{
	height: 50%;
}

#liens
{
	display: flex;
	height: 50%;
}

#leftbar
{
	display: flex;
	
}

#rightbar
{
	display: flex;

}